# Ignore build directories/files inside each controller folder
controllers/*/*.exe
controllers/*/build/
controllers/**/build/
*.exe
*.wbproj
*.wbproj
*.wbproj
worlds/.project4.wbproj
*.wbproj
*.wbproj
worlds/.project4.wbproj
worlds/project4.wbt
worlds/project4.wbt
*.wbt
worlds/.project4.wbproj
*.wbproj
worlds/.project4.wbproj
worlds/*.wbt
