# Ignore build directories inside each controller folder
# E.g. controllers/auct_super/build/
controllers/*/build/
# And nested build directories under controllers (defensive)
controllers/**/build/
*.exe
*.wbproj
*.wbproj
*.wbproj
worlds/.project4.wbproj
*.wbproj
*.wbproj
